* {
  margin: 0;
  padding: 0;
}
html, body {
}
@media print {
body {
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  color: #848484;
  float:left;
  padding-left: 0px;
}
}
@media screen {
body {
  background: url(http://alessioatzeni.bluxart.netdna-cdn.com/mac-osx-lion-css3/res/img/background.png) repeat left top #000;
  display: inline-block;
  width: 100%;
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  color: #848484;
  float:left;
  padding-top: 0px;
  margin-top: 0px;
}
.header_left {
  display: inline-block;
  width: 150px;
}
.header_left .profile_well {
  display: block;
}
.header_left h2 {
  display: block; 
  width: 150px;
}
.header .contact_header {
  display: inline-block;
  vertical-align: top;
  margin-left: 0px;
}
.header .contact_header #contact{
  display: block;
  line-height: 18px;
  list-style-type: none;
  width: 280px;
  margin: 0;
}
.navbar-fixed-top .brand {
  margin-left: 0px;
}
.subnav {
  background-color: #848484; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #848484 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#848484)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#848484 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#848484 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#848484 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#848484',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#848484 100%); /* W3C */
  border: 0px solid #e5e5e5;
}
.subnav .nav > li > a {
  border-right: 1px solid black;
}
.header .contact_header .social{
  width: 550px;
  height: 50px;
  display: block;
  margin-top: 115px;
  margin-left: -5px;
}
}
h1 {
  font-size: 41px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  color: #white;
}
h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: #E6E6E6;
}
h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #E6E6E6;
}
p {
  margin-bottom: 20px;
  font: 14px/20px Georgia, "Times New Roman", Times, serif; 
}
.body a:link {text-decoration: none ; color: #E6E6E6;}
.body a:visited {text-decoration: none; color: #E6E6E6;}
.body a:active {text-decoration: none; color: #E6E6E6;}
.body a:hover {text-decoration: none; color: #3399ff;}
.contact_header a:link {text-decoration: none ; color: #848484;}
.contact_header a:visited {text-decoration: none; color: #848484;}
.contact_header a:active {text-decoration: none; color: #848484;}
.contact_header a:hover {text-decoration: none; color: #3399ff;}
.nav-pills a:link {text-decoration: none ; color: black;}
.nav-pills a:visited {text-decoration: none; color: black;}
.nav-pills a:active {text-decoration: none; color: black;}
.nav-pills a:hover {text-decoration: none; color: black;}
@media print {
#about {
  width: 890px;
  padding: 10px 0 0px;
  margin: 0 auto;
  overflow: hidden;
}
}
@media screen and (min-width: 1200px) {
#about {
  width: 1168px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}
}
@media screen and (max-width: 1200px) {
#about {
  width: 920px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}
}
#about h1 {
  margin-bottom: 4px;
  margin-top: 2px;
}
#about h2 {
  width: 850px;
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 8px;
  color: #E6E6E6;
}
#about h5 {
  width: 120px;
  padding-right: 0px;
  float: left;
  padding-top: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 14px;
  color: #848484;
  font-weight: normal;
  text-wrap:normal;
  max-width: 100px;
}
@media screen {
#story {
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  float: left;
  padding-right: 0px;
}
#story p {
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}
}
@media print {
#story {
  font-size: 18px;
  line-height: 24px;
  width: 635px;
  float: left;
  padding-right: 0px;
}
#story p {
  margin-bottom: 20px;
  width: 635px;
  font-size: 16px;
  padding-top: 10px;
}
#story h3 {
  width: 120px;
  padding-right: 0px;
  float: left;
  padding-top: 10px;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 70px;
  color: #848484;
}
}
@media screen {
#story h3 {
  width: 120px;
  padding-right: 0px;
  float: left;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 70px;
  color: #848484;
}
}
@media print {
#contact {
  width: 240px;
  float: right;
  padding-top: 91px;
  list-style-type: none;
  line-height: 18px;
}
#contact li {
  width: 240px;
  overflow: hidden;
  margin-bottom: 5px;
  float: right;
  color: #848484;
}
#contact li span {
  float: left;
}
#contact li strong {
  padding-left: 70px;
  float: right;
  color: #848484;
  font-weight: normal;
  font-style: normal;
}
#contact li strong2 {
  text-align: right;
  padding-left: 70px;
  float: right;
  color: #848484;
  font-weight: normal;
  font-style: normal;
  margin-top: -18px;
}
}
@media screen {
#contact li {
  width: 280px;
  overflow: hidden;
  margin-bottom: 5px;
  float: left;
  color: #E6E6E6;
}
#contact li span {
  float: left;
}
#contact li strong {
  padding-left: 69px;
  float: right;
  color: #848484;
  font-weight: normal;
  font-style: normal;
}
#contact li strong2 {
  text-align: right;
  padding-left: 75px;
  float: right;
  color: #848484;
  font-weight: normal;
  font-style: normal;
  margin-top: -18px;
}
}
@media print {
.section {
  width: 890px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  overflow: hidden;
  float: left;
}
}
@media screen and (min-width: 1200px) {
.section {
  width: 1168px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  overflow: hidden;
  float: left;
}
}
@media screen and (max-width: 1200px) {
.section {
  width: 920px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  overflow: hidden;
  float: left;
}
}
.section h2 {
  width: 120px;
  padding-right: 0px;
  float: left;
  padding-top: 0;
  line-height: 22px;
  color: #848484;
}
.section h3 {
  line-height: 22px;
  margin-bottom: 5px;
  font-style: italic;
}
.section h4 {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}
.section .date {
  position: absolute;
  top: 0px;
  right: 0;
  color: #E6E6E6;
}
@media print {
.section .item {
  width: 770px;
  padding-left: 0px;
  float: right;
  padding-top: 0;
  margin-bottom: 0px;
  position: relative;
  padding-bottom: 5px;
}
.section .description {
  width: 730px;
  padding-left: 18px;
  font: "Times New Roman";
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: 10px;
}
.section .description2 {
  width: 730px;
  padding-left: 18px;
  font: "Times New Roman";
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: 0px;
}
}
@media screen and (min-width: 1200px) {
.section .item {
  width: 1048px;
  padding-left: 0px;
  float: right;
  padding-top: 0;
  margin-bottom: 0px;
  position: relative;
  padding-bottom: 5px;
}
.section .description {
  width: 978px;
  padding-left: 18px;
  font: "Times New Roman";
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: 10px;
}
.section .description2 {
  width: 978px;
  padding-left: 18px;
  font: "Times New Roman";
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: 0px;
}
#robin {
    width:1168px;
    height:480px;
    background-color: #848484;
}
}
@media screen and (max-width: 1200px) {
.section .item {
  width: 800px;
  padding-left: 0px;
  float: right;
  padding-top: 0;
  margin-bottom: 0px;
  position: relative;
  padding-bottom: 5px;
}
.section .description {
  width: 730px;
  padding-left: 18px;
  font: "Times New Roman";
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: 10px;
}
.section .description2 {
  width: 730px;
  padding-left: 18px;
  font: "Times New Roman";
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: 0px;
}
#robin {
    width:920px;
    height:480px;
    background-color: #848484;
}
}
body.small {
}
body.small #header ul  {
  width: 750px;
}
body.small #about {
  width: 750px;
  position: relative;
  padding-bottom: 65px;
  min-height: 260px;
}
body.small #about #story {
  float: none;
}
body.small #about #contact {
  float: none;
  padding-top: 0;
  padding-right: 0;
  clear: left;
}
body.small #about #picture {
  clear: none;
  float: none;
  position: absolute;
  top: 80px;
  right: 0;
}
body.small .section {
  width: 750px;
}
body.small .section .item {
  width: 510px;
}
#footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
pre {
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
}

@media screen and (min-width: 1200px) {
.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
}
.container_main {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
.container_main_2 {
  padding-top: 97px;
}
.navbar-fixed-top .brand {
  margin-left: 0px;
}
.footer {
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  width: 1168px;
}
}
@media screen and (max-width: 1200px) {
.container {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-fixed-top .container {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.subnav-fixed .nav {
  width: 920px;
}
.container_main {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
.container_main_2 {
  padding-top: 97px;
}
.navbar-fixed-top .brand {
  margin-left: 0px;
}
.footer {
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  width: 920px;
}
}
@media screen {
.header {
  width: 100%;
  display: block;
  verticle-align: top;
  margin-bottom: 15px;
}
.profile_well {
  display: block;
  float: left;
  width: 130px;
  padding: 3px;
  margin-bottom: 5px;
  background-color: #848484;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.clock_header {
  display: inline-block;
  float: right;
  margin-top: -14px;
  margin-right: -10px;
}
#clock {
                float: right;
          position: relative;
          width: 120px;
          height: 120px;
          margin: 4px auto 0 auto;
          background: url(../images/clockface.png);
                background-size: 120px 120px;
          list-style: none;
                z-index: 0;
          }
        
        #sec, #min, #hour {
          position: absolute;
          width: 6px;
          height: 120px;
          top: 0px;
          left: 57px;
          }
        
        #sec {
          background: url(../images/sechand.png);
          z-index: 3;
            }
           
        #min {
          background: url(../images/minhand.png);
          z-index: 2;
            }
           
        #hour {
          background: url(../images/hourhand.png);
          z-index: 1;
            }
}
