<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TIC TAC TOE</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/docs.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/prettify.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/resume.css" rel="stylesheet">
<link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tictactoe.js"></script>
<script type="text/javascript">
function create_move(move) {
    $.post(create_url, {'move': move, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        function(data) {
    });
    document.location.reload();
}
</script>

<style>
.square {
    border: solid 1px #000;
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 70px;
    z-index: 1000;
}
.container {
    color:black;
    margin: 50px auto auto;
    width: 600px;
    height: 600px;
    text-align: center;
}
</style>

</head>
    <body>

    <script type="text/javascript">
        var player1 = "{{ player1 }}";
        var player2 = "{{ player2 }}";
        var player_turn = "{{ player_turn }}";
        var piece_turn = "{{ piece_turn }}";
        var current_player = "{{ current_player }}";
        var game_id = "{{ game_id }}";
        var board = "{{ board }}";
        var create_url = "{% url tictactoe.views.move game_id %}";
    </script>
    <div class="container">
       <div class="well" style="background-color:#BDBDBD;">
       <h1>{{ player1 }} VS {{ player2 }}</h1>
       {% if winner == None %}
         <div>{{ player_turn }} ({{ piece_turn }})'s turn</div>
         <div class="well" style="background-color:#6E6E6E;margin:auto;width:307px;">
         {% for set in board %}
            <div class="square" id="square{{ forloop.counter0 }}" onclick="create_move('{{ forloop.counter0 }}')">
               <div style="margin-top: 40px;">{{ set }}</div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            <br style="clear:both;"/>
            {% endif %}
         {% endfor %}
         </div>
       {% else %}
         <div class="well" style="background-color:green;width:200px;height:100px;margin:50px auto 50px auto;">
         {% if winner == "" %}
            <h3 style="color:yellow;">TIE</h3>
            <BR>
         {% else %}
            <h3 style="color:red;">{{ winner }}</h3>
            <h3 style="color:red;">WINS</h3>
         {% endif %}
            <a class="btn btn-primary" href="http://www.adamklockars.com/tictactoe">PLAY AGAIN</a>
         </div>
       {% endif %}
       </div>
    </body>
</html>
