<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TIC TAC TOE</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/docs.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/prettify.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/resume.css" rel="stylesheet">
<link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
<script src="{{STATIC_URL}}js/jquery.js"></script>
<style>
<style>
body {
  padding-top: 44px;
  display: inline;
  text-align: center;
}
h2 {
  color: #A2B5CD;
  text-align: center;
}
h3 {
  color: #A2B5CD;
}
h4 {
  color: #A2B5CD;
}
.container_main {
    margin: 50px auto auto;
    padding: 10px;
    width: 600px;
    height: 600px;
    text-align: center;
}
</style>
</head>
<body>
<script type="text/javascript">
  function toggle_visibility(id1, id2) {
      document.getElementById(id1).style.display = "none";
      document.getElementById(id2).style.display = "block";
  }
</script>
<div class="container_main">
 <div class="well" style="background-color:#BDBDBD;">
  <div class="content" id="player_select">
      <div class="login-form">
        <a class="btn" style="width:70px;margin:auto;" href="#" onclick="toggle_visibility('player_select', 'computer_form');">ONE PLAYER</a>
        <BR>
        <a class="btn" style="width:70px; "href="#" onclick="toggle_visibility('player_select', 'player_form');">TWO PLAYER</a>
      </div>
  </div>
  <div class="content" id="computer_form" style="display:none;">
      <div class="login-form">
        <form action="/tictactoe/start_comp/" method="post">
          {% csrf_token %}
          <label>Player Name</label>
          <input type="text" name="player1" id="player1" class="span3" placeholder="Username" style="height:30px;>
          <BR>
          <div class="control-group">
            <label class="control-label" for="piece1">Piece Select</label>
            <div class="controls">
              <select id="piece1">
                <option value="X">X</option>
                <option value="O">O</option>
              </select>
            </div>
          </div>
          <BR>
          <div>
            <button type="submit" class="btn btn-primary">Start</button>
            <button class="btn" href="#" onclick="toggle_visibility('computer_form', 'player_select');">Cancel</button>
          </div>
        </form>
      </div>
  <div class="content" id="player_form" style="display:none;">
      <div class="login-form">
        <form action="/tictactoe/start/" method="post">
          {% csrf_token %}
          <label>Player 1 Name</label>
          <input type="text" name="player1" id="player1" class="span3" placeholder="Username" style="height:30px;>
          <BR>
          <div class="control-group">
            <label class="control-label" for="piece1">Player 1 Piece Select</label>
            <div class="controls">
              <select id="piece1">
                <option value="X">X</option>
                <option value="O">O</option>
              </select>
            </div>
          </div>
          <BR>
          <div>
          <label>Player2 Name</label>
          <input type="text" name="player2" id="player2" class="span3" placeholder="Username" style="height:30px;>
          </div>
          <BR>
          <div>
            <button type="submit" class="btn btn-primary">Start</button>
            <button class="btn" href="#" onclick="toggle_visibility('player_form', 'player_select');">Cancel</button>
          </div>
        </form>
      </div>
  </div>
 </div>
</div>


<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{STATIC_URL}}js/prettify.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-carousel.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-typeahead.js"></script>
    <script src="{{STATIC_URL}}js/application.js"></script>
</body>
</html>
