body {
  background: url("../images/pinprint_bg.jpeg") no-repeat center center #000;
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  height:100%;
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  color: #848484;
  float:left;
  padding-top: 0px;
  margin-top: 0px;
}
#draggable { 
  width: 150px; 
  height: 150px; 
  padding: 0.5em;
  cursor: move; 
}
.content {
  width: 840px;
  float: right;
}
.canvas {
  width: 100%;
  height: 540px;
  border-style: solid;
  border-color: #222222;
  border-width: 5px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: absolute;
}
.library{
  width: 265px;
  float: left;
}
.pictures {
  width: 100%;
  height: 500px;
  float: left;
  border-style: solid;
  border-color: #222222;
  border-width: 5px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  margin-bottom: 20px;
}
.container_main {
  margin-top: 75px;
}
.navbar-fixed-top .brand {
  -moz-transition: all 0.2s linear 0s;
  color: #660099;
  float: left;
  font-size: 35px;
  font-weight: bold;
  margin-left: 0;
  padding-left: 0;
  padding-right: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}
.navbar .nav > li > a {
    color: #999999;
    float: none;
    font-size: 18px;
    line-height: 35px;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.hoverbox
{
  list-style: none;
}
.hoverbox a
{
  cursor: move;
}
.hoverbox a .preview
{
  display: none;
}
.hoverbox a:hover .preview
{
  display: block;
  position: absolute;
  top: -33px;
  left: -45px;
  z-index: 1;
}
ul, ol {
    margin: 0;
    padding: 0;
}
.hoverbox img
{
  background: #fff;
  border-color: #aaa #ccc #ddd #bbb;
  border-style: solid;
  border-width: 1px;
  color: inherit;
  padding: 2px;
  vertical-align: top;
  width: 100px;
  height: 75px;
}
.hoverbox li
{
  background: #eee;
  border-color: #ddd #bbb #aaa #ccc;
  border-style: solid;
  border-width: 1px;
  color: inherit;
  display: inline;
  float: left;
  margin: 3px;
  padding: 5px;
  position: relative;
}
.hoverbox .preview
{
  border-color: #000;
  width: 200px;
  height: 150px;
}
.Tabs {
  display: block;
  height: 25px;
  font-color: white;
}
.Tabs ul {
position: relative;
}

.Tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 25px;
}

.Tabs ul li.active a {
position: relative;
display: block;
margin-left: 5px;
line-height: 25px;
padding-left: 10px;
padding-right: 10px;
background: #222222;
border: 0px;
color: #ffffff;
border-bottom: 0px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
text-decoration: none;
}
.Tabs ul li a {
position: relative;
display: block;
margin-left: 5px;
line-height: 25px;
padding-left: 10px;
padding-right: 10px;
background: #2c2c2c;
border: 0px;
color: #999999;
border-bottom: 0px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
text-decoration: none;
cursor: pointer;
}

.Tabs ul li a:hover {
text-decoration: none;
}

.Tabs #Content_Area { // this is the css class for the content displayed in each tab
padding: 0 15px;
clear:both;
overflow:hidden;
line-height:19px;
position: relative;
top: 20px;
z-index: 5;
height: 150px;
overflow: hidden;
}

p { padding-left: 15px; }