<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Adam Klockars</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/docs.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/prettify.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/resume.css" rel="stylesheet">
<link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
<script src="{{STATIC_URL}}js/clay.min.js" type="text/javascript">
  <script type="text/javascript">
  
  
  function DemoApp() {
    
    var stage = new Clay.Stage(640, 480, document.getElementById("canvas"));
    var world = stage.getWorld();
    var camera = stage.getCamera();
    
    camera.set(0, 0, 800);
    camera.setTarget(Clay.Vector.ZERO);
    
    var light = new Clay.Light(-2,-2, 1, 3, .5);
    light.setColor(255, 255, 255)
    world.addLight(light);

    stage.resizeTo(640, 480);
    
    var palet = [
      new Clay.Material(37,47,51, 1, stage),
      new Clay.Material(65,92,79, 1, stage),
      new Clay.Material(134,156,128, 1, stage),
      new Clay.Material(147,194,204, 1, stage),
      new Clay.Material(206,234,238, 1, stage)
    ];

    var rib = 256;
    var amount = 3;
    var offset = 266;
    function rand(range) { return Math.floor(Math.random() * range); };
    
    for (var i=0; i<amount; i++) {
      for (var j=0; j<amount; j++) {
        for (var k=0; k<amount; k++) {
        
          var x = ((offset * i) - (offset * (amount-1))/2)*1.5,
            y = (offset * j) - (offset * (amount-1))/2,
            z = (offset * k) - (offset * (amount-1))/2;

          var m = palet[rand(palet.length)];
          
          var cube = new Clay.Cube(x, y, z, 4, rib, rib, m);
          world.addShape(cube);
        }
      }
    }

    var flickr = [];
    var photos = document.getElementById("photos").getElementsByTagName("img");
    
    for(var i=0; i<photos.length; i++) {
      var photo = photos[i];
      var parent = photo.parentNode;
      if(/^a$/i.test(parent.nodeName)) {
        flickr.push(
          new Clay.Texture(photos[i].src, stage)
        );
      }
    }

    var cameraTarget = Clay.Vector.ZERO;
    var t = 0, radius = 1200, 
      slowMo = new Clay.Vector(20,20,20);
    
    stage.addEvent('click', function(e) {
      var poly = e.targetPolygon;
      var shape = e.targetShape;
      var rand = Math.floor(Math.random()*flickr.length);
      
      if(poly && shape) {
        poly.setMaterial(flickr[rand]);
        cameraTarget = shape;
      }
    });

    stage.addEvent('enterframe', function(){
      t += 0.01;

      var dif = cameraTarget.subtract(camera.target).divide(slowMo);
      camera.setTarget(camera.target.add(dif))
      
      var position = new Clay.Vector(
        cameraTarget.x + (Math.sin(t) * radius),
        cameraTarget.y + (Math.cos(t) * radius/2),
        cameraTarget.z + (Math.cos(t) * radius)
      );

      var move = position.subtract(camera).divide(slowMo);
      camera.moveBy(move);
    });

    var lbi = new Image();
      lbi.src = 'static/images/lostboys.png';

    stage.addEvent('postrender', function(renderer){
      try {
        renderer.context.drawImage(lbi,10,430); 
      } catch (e) {}
    });
    
    // run forest run!
    stage.run()
  }


  // init 

  window.addEventListener('load', function(){
    new DemoApp();
  }, false);

  </script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.2.6.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
              setInterval( function() {
              var seconds = new Date().getSeconds();
              var sdegree = seconds * 6;
              var srotate = "rotate(" + sdegree + "deg)";
              $("#sec").css({"-moz-transform" : srotate, "-webkit-transform" : srotate});
              }, 1000 );
              setInterval( function() {
              var hours = new Date().getHours();
              var mins = new Date().getMinutes();
              var hdegree = hours * 30 + (mins / 2);
              var hrotate = "rotate(" + hdegree + "deg)";
              $("#hour").css({"-moz-transform" : hrotate, "-webkit-transform" : hrotate});
              }, 1000 );
              setInterval( function() {
              var mins = new Date().getMinutes();
              var mdegree = mins * 6;
              var mrotate = "rotate(" + mdegree + "deg)";
              $("#min").css({"-moz-transform" : mrotate, "-webkit-transform" : mrotate});
              }, 1000 );
        }); 
</script>
<script type="text/javascript">
  function showContent(e) {
    if(e == "header"){
      $("#subbar").removeClass("subnav-fixed");
      $(".section").css({opacity: 0.0, display: "none", padding: "10px 0 0"});
      $(".canvas3D").css({opacity: 0.0, display: "block"}).animate({opacity: 1.0});
      $("#" + e).css({opacity: 0.0, display: "block"}).animate({opacity: 1.0});
    }
    else {
      $("#header").css({opacity: 0.0, display: "none"});
      $(".canvas3D").css({opacity: 0.0, display: "none"});
      $("#subbar").addClass("subnav-fixed");
      $(".section").css({opacity: 0.0, display: "none", padding: "20px 0 0"});
      $("#" + e).css({opacity: 0.0, display: "block"}).animate({opacity: 1.0});
    }
  }
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31014858-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<style type="text/css"> 
  .canvas3D {
    background:#f0f0f0;
    width:1162px;
    height:480px;
    border:3px solid gray;
  }

  #photos {
    display:none;
  }

  </style>
</head>
<body>
<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://www.adamklockars.com">Adam Klockars</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a href="http://www.adamklockars.com">Résumé</a>
              </li>
              <li class="">
                <a href="">Projects</a>
              </li>
              <li class="">
                <a href="">Blog</a>
              </li>
              <li class="divider-vertical"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container_main">
<span class="body">
<div class="container">
<div class="header" id="header">
  <div class="header_left">
  <div class="profile_well">
    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/273225_122612804_7746559_n.jpg" alt="" class="pic" style="width:100%;"/>
  </div>
  <BR>
  <h2><a href="http://ece.uwaterloo.ca/Undergrad/Q/">Computer Engineer</a></h2>
  </div>
  <div class="contact_header">
  <div style="display:inline;">
  <ul id="contact">
    <li><span>Phone</span> <strong><a href="callto://+16136180950">613-618-0950</a></strong></li>
    <li><span>Email</span> <strong><a href="mailto:adamklockars@gmail.com?Subject=Job%20Opportunity">adamklockars@gmail.com</a></strong></li>
    <li><span>Address</span> <strong2><a href="http://maps.google.ca/maps?oe=utf-8&rls=org.mozilla:en-US:official&client=firefox-a&q=169+lees+ave+apt+502+ottawa+ontario&um=1&ie=UTF-8&hq=&hnear=0x4cce059f161e0c6d:0xd4efdbfc17168727,169+Lees+Ave+%23502,+Ottawa,+ON+K1S+5P3&gl=ca&ei=Cc_GT4vZCKaM6QHQp6y9Cw&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CAoQ8gEwAA">169 Lees Ave., Apt. 502, Ottawa, ON, K1S 5M2</a></strong2></li>
  </ul>
  </div>
<div class="social">
<!-- Facebook button -->
<a href="http://www.facebook.com/Tatum33">
<img src="{{STATIC_URL}}images/facebook.png"/>
</a>
 <!-- Twitter button -->
<a href="http://www.twitter.com/adamklockars">
<img src="{{STATIC_URL}}images/twitter.png"/>
</a>
<!-- LinkedIn button -->
<a href="http://ca.linkedin.com/pub/adam-klockars/27/497/a56">
<img src="{{STATIC_URL}}images/LinkedIn.png"/>
</a>
<!-- Youtube button -->
<a href="http://www.youtube.com/adamklockars">
<img src="{{STATIC_URL}}images/youtube.png"/>
</a>
</div>
  </div>
  <div class="clock_header">
    <ul id="clock">	
   	<li id="sec"></li>
   	<li id="hour"></li>
	  <li id="min"></li>
    </ul>
  </div>
</div>
<div class="container">
<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="subnav" id="subbar">
    <ul class="nav nav-pills">
      <li><a href="javascript:showContent('objective')">Objective</a></li>
      <li><a href="javascript:showContent('education')">Education</a></li>
      <li><a href="javascript:showContent('experience')">Experience</a></li>
      <li><a href="javascript:showContent('skills')">Skills</a></li>
      <li><a href="javascript:showContent('volunteer')">Volunteer</a></li>
      <li><a href="javascript:showContent('interests')">Interests</a></li>
    </ul>
  </div>
</header>
<div id="canvas">
  <canvas class="canvas3D"></canvas>
</div>
</div>
<div id="about">
<div class="section" id="objective" style="display:none;">
    <h5>Objective</h5>
     <div class="item">
    <p>To obtain work experience that will provide growth and development opportunities in both my professional and personal life, as well as cultivate work associations that will aid in the advancement of my career.</p>
  </div>
  </div>
<div class="section" id="education" style="display:none;">
  <h5>Education</h5>
  <div class="item">
    <h3><a href="http://www.uwaterloo.ca/">University of Waterloo</a></h3>
    <h4>Waterloo, ON, Canada</h4>
    <h4>Bachelor of Applied Science, Honours, Computer Engineering</h4>
    <div class="date">September 2006 - April 2012</div>
    <div class="description">
      <ul id="description">
        <li>Management Sciences Option</li>
    	<li>Relevant Courses:<i> Managerial and Engineering Economics, Intro to Computing(C#), Algorithms &amp; Data Structures(C++), Programming Languages and Translators, Digital Circuits &amp; Systems, Digital Computers, Microprocessor Systems &amp; Interface, Real-time Operating Systems, Digital Hardware Systems(VHDL), Distributed and Network Computing, Database Systems</i></li>
  	  </ul>
    </div>
  </div>
  <div class="item">
    <h3><a href="http://en.wikipedia.org/wiki/Kirkland_Lake">Kirkland Lake Collegiate and Vocational Institute</a></h3>
    <h4>Kirkland Lake, ON, Canada</h4>
    <h4>Ontario Secondary School Diploma</h4>
    <div class="date">September 2002 - June 2006</div>
    <div class="description">
      <ul id="description">
    	<li>Relevant Courses:<i> Computer Engineering, Data Management</i></li>
  	  </ul>
    </div>
  </div>
</div>
<div class="section" id="experience" style="display:none;">
  <h5>Experience</h5>
  <div class="item">
    <h3><a href="http://www.chide.it/">Chide.it</a></h3>
    <h4>Ottawa, ON, Canada</h4>
    <h4>Web Application Developer</h4>
    <div class="date">May 2012 - Present</div>
    <div class="description">
      <ul id="description">
        <li>Communicate with customers when required, in order to convey the status of projects and enhancements</li>
        <li>Assist account managers when required, to communicate with customers and resolve outstanding software issues</li>
        <li>Develop and/or implement enhancements, features and bug fixes on Fluidsurveys, ReviewRoom and other products that the company may develop in the future</li>
        <li>Learn and become proficient in technologies used by Chide.it Inc., including, but not limited to Django/Python, jQuery/Javascript, Adobe Flex, Bash Scripts and MySQL</li>
          </ul>
    </div>
  </div>
  <div class="item">
    <h3><a href="http://www.cisco.com/">Cisco Systems</a></h3>
    <h4>Ottawa, ON, Canada</h4>
    <h4>ASIC Design Verification Engineer</h4>
    <div class="date">September 2011 - December 2011</div>
    <div class="description">
      <ul id="description">
    	<li>Monitored and managed block regression testing for code coverage closure</li>
    	<li>Automated waveform acquisition for the calculation of power usage based on activity factors</li>
    	<li>Developed and formally verified a re-use bypass module for multiport memory reads and writes, for future ASIC design verification usage</li>
    	<li>Edited SystemVerilog Assertions to eliminate errors related to incorrect case specifications</li>
    	<li>Widened my knowledge of the ASIC development timeline to both pre and post silicon verification</li>
  	  </ul>
    </div>
  </div>
  <div class="item">
    <h3><a href="http://www.broadcom.com/">Broadcom Corporation</a></h3>
    <h4>Ottawa, ON, Canada</h4>
    <h4>ASIC Verification Software Designer</h4>
    <div class="date">January 2010 - April 2010, September 2010 - December 2010</div>
    <div class="description">
      <ul id="description">
    	<li>Performed ASIC block verification testing and debugging in a lab environment</li>
    	<li>Contributed to the development of the ASIC block verification methodology through TCL and Python code fixes and updates</li>
    	<li>Familiarized myself with the technology, tools, techniques, and equipment associated with networking protocols and the Broadband industry</li>
    	<li>Created testing environment and test cases for the newly added Energy Efficient Ethernet features</li>
    	<li>Managed testing schedule for Broadcom’s System-On-Chip ethernet switch solution</li>
  	  </ul>
    </div>
  </div>
  <div class="item">
    <h3><a href="http://www.gdcanada.com/">General Dynamics Canada</a></h3>
    <h4>Ottawa, ON, Canada</h4>
    <h4>Maritime Helicopter Project - Lab Support Team</h4>
    <div class="date">September 2008 - December 2008, May 2009 - August 2009</div>
    <div class="description">
      <ul id="description">
    	<li>Assisted in the design and creation of a new testing lab for the mission data and management system as well as the maintenance required to keep the lab in an operational state</li>
    	<li>Managed the lab parts and equipment inventory, and updated the necessary documentation to keep track of the current lab configurations</li>
    	<li>Designed test station network diagrams to keep track of the hardware configurations of each station located within the two mission data and management system labs</li>
    	<li>Updated software and firmware versions on test stations using a x-term Unix shell to connect with the single board computers that make up the mission data and management computer</li>
    	<li>Installed and maintained Solaris 10 and VxWorks 5.5 operating systems on 6U single board computers</li>
  	  </ul>
    </div>
  </div>
  <div class="item">
    <h3><a href="http://www.ewa-canada.com/">Electronic Warfare Associates - Canada</a></h3>
    <h4>Ottawa, ON, Canada</h4>
    <h4>IT Security Analyst</h4>
    <div class="date">January 2007 - August 2007, January 2008 - April 2008</div>
    <div class="description">
      <ul id="description">
    	<li>Compiled testing procedures for Interac, VISA, and Mastercard testing requirements to reduce the training time required for new employees</li>
    	<li>Developed physical attack methods against payment transaction devices to test for weaknesses and help raise the standards implemented for testing</li>
    	<li>Authored Interac, VISA, and Mastercard test result and observation reports for product certifications</li>
    	<li>Maintained company's intranet site through frequent updates</li>
  	  </ul>
    </div>
  </div>
</div>
<div class="section" id="skills" style="display:none;">
  <h5>Skills</h5>
  <div class="item">
    <div class="description2">
    <ul id="description2">
    	<li>Variety of experience in C, C++, C#, Objective-C, Perl, TCL, Ruby, Python, Verilog, SystemVerilog, VHDL, and Java</li>
    	<li>Website development using PHP, CSS, JavaScript, and jQuery  </li>
    	<li>Solaris 10, Fedora 10, Windows XP and 7, Mac OS X and VxWorks 5.5 OS experience</li>
    	<li>Experience with Unix shells and knowledge of common functionality and utilities</li>
    	<li>Previous usage of familiar screen-oriented text editors (vi, pico, emacs, gvim)</li>
    	<li>Pre and Post Silicon ASIC Verification experience</li>
    	<li>Interac, VISA, and Mastercard testing experience for the certification of payment transaction devices</li>
    	<li>Experience with the implementation of cryptographic algorithms used in the secure transfer of data</li>
    	<li>Extensive report compilation experience acquired during the creation of product certifications reports</li>
    	<li>Training and hands-on experience with software development and management tools (ClearQuest and ClearCase)</li>
    	<li>Familiarity with Apache Subversion (svn) and Git revision control systems</li>
    	<li>Good working knowledge of Microsoft tools suite (Excel, Word, PowerPoint, Visio, Visual Studio, etc.)</li>
  	</ul>
  	</div>  
  </div>
</div>
<div class="section" id="volunteer" style="display:none;">
<h5>Volunteer Experience</h5>
<div class="item">
  <h3><a href="http://hometeamsonline.com/teams/default.asp?s=hockey&t=c&u=KLMHA">Kirkland Lake Minor Hockey Association</a></h3>
    <div class="date">October 2001 - March 2006</div>
    <div class="description">
      <ul id="description">
    	<li>Coaching assistant for younger age groups</li>
    	<li>Organized registration forms to save time for returning hockey families</li>
    	<li>Given scoreboard and scorekeeper duties for tournament games</li>
  	  </ul>
    </div>
  </div>
</div>
<div class="section" id="interests" style="display:none;">
<h5>Activities &amp; Interests</h5>
<div class="item">
  <h3><a href="http://www.deezyr.com">Deezyr - Product Recommendation Engine</a></h3>
    <div class="date">January 2011 - Present</div>
    <div class="description">
      <ul id="description">
    	<li>iOS application development and support</li>
    	<li>Front-end website design and integration</li>
    	<li>Product barcode tagging and mapping</li>
  	  </ul>
    </div>
  </div>
  <div class="item">
  <h3>Recreational Activities</h3>
    <div class="description">
      <ul id="description">
    	<li>Intramural ice hockey, ball hockey, golf, snowboarding, snowmobiling, fishing, and hunting</li>
    	<li>Strategic computer and video games; including, but not limited to: RPG, FPS, and CMS</li>
  	  </ul>
  </div>
</div>
</div>
</div>
<!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="javascript:showContent('header')">Back to top</a></p>
        <p></p>
      </footer>

    </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/prettify.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-carousel.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-typeahead.js"></script>
    <script src="{{STATIC_URL}}js/application.js"></script>

    <!-- Analytics
    ================================================== -->
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
</div>
</span>
</body>
</html>
