<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Pinprint Collage Creator</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/docs.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/prettify.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/pinprint.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script src="jquery.ui.touch-punch.js"></script>
    <script type="text/javascript">
    //this.canvas_count = 1;
    function canvas_change(){
      if ($(this).hasClass('add_canvas')) {
        var length = $('ul', '.content').children().length;
        if (length <= 11) {
          $('li.active', '.content').removeClass('active');
          $('.add_canvas').before(
            $('<li>').addClass('tab').addClass('active'));
          $('li.active', '.content').append(
              $('<a></a>').text('Canvas ' +  parseInt($('li.active', '.content').index()+1).toString()));
          $('.canvas', '.content').removeClass('active');
          $('.canvas', '.content').hide();
          $('.content').append(
            $('<div>').addClass('droppable').addClass('canvas').addClass('active'));
          $('div.active', '.content')
            .attr('id', $('div.active', '.content').index())
            .droppable({
              tolerance: "pointer",
              activeClass: "clone-active-color",
              hoverClass: "droppable-hover",
              drop: function( ev, ui ) {
                if(!$(ui.draggable).hasClass('cloned')){
                  $(this).append(
                    $(ui.draggable)
                      .clone()
                      .addClass("cloned")
                      .css('position', 'absolute')
                      .css('left', ui.offset.left-$(this).offset().left-5)
                      .css('top', ui.offset.top-$(this).offset().top-5)
                      .draggable()
                  );
                  //console.log($(ui.draggable));
                  //$('img', $(this)).attr('id', 'resizableimg');
                  //$('#resizableimg').resizable();  
                }                                    
              }
            })
        }
      } else if($(this).hasClass('delete_canvas')) {
        $('li.active', '.content').remove();
        $('.canvas.active', '.content').remove();
        $('li:first', '.content').addClass('active');
        $('.canvas:first', '.content').show();
        $('li:not(.add_canvas, .delete_canvas) a', '.content').each(function(i,e){
          $(e).text('Canvas ' + (parseInt(i) + 1).toString());
        });
        $('.canvas', '.content').each(function(i,e){
          $(e).attr('id', (parseInt(i) + 1).toString());
        });
      } else {
        var index = $(this).index() + 1;
        index = '#' + index;
        if (!$(this).hasClass('active')) {
          $('li', '.content').removeClass('active');
          $(this).addClass('active');
          $('.canvas', '.content').removeClass('active');
          $('.canvas', '.content').hide();
          $(index, '.content').show();
          $(index, '.content').addClass('active');
        }
      }
      $('li', '.content').unbind();
      $('li', '.content').on('click', canvas_change);
      $(".droppable").unbind();
    }
    $(function() {
      $(".draggable").draggable({
        appendTo: 'body',
        cursor: 'auto', 
        helper: 'clone',
        revert: 'invalid',
        zIndex: 10000
      });
      $(".droppable").droppable({
        tolerance: "pointer",
        activeClass: "clone-active-color",
        hoverClass: "droppable-hover",
        drop: function( ev, ui ) {
          if(!$(ui.draggable).hasClass('cloned')){
            $(this).append(
              $(ui.draggable)
               .clone()
               .addClass("cloned")
               .css('position', 'absolute')
               .css('left', ui.offset.left-$(this).offset().left-5)
               .css('top', ui.offset.top-$(this).offset().top-5)
               .draggable()
            );
            //console.log($(ui.draggable));
            //$('img', $(this)).attr('id', 'resizableimg');
            //$('#resizableimg').resizable();  
          }                                    
        }
      });
      $('li', '.content').on('click', canvas_change);
    });
    </script>
  </head>
  <body>
    <!-- Navbar ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://www.adamklockars.com/pinprint">PINPRINT</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <a href="http://www.adamklockars.com/pinprint/account">Account</a>
              </li>
              <li class="active">
                <a href="http://www.adamklockars.com/pinprint/collage">Collage Creator</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <span class="body">
      <div class="container_main">
        <div class="container">
          <div class="library">
            <div class="Tabs">
              <ul>
                <li class="tab active" onclick="" ><a>Flickr</a></li>
                <li class="tab" onclick=""><a>Pinterest</a></li>
              </ul>
            </div> 
            <div class="pictures">
              <ul class="hoverbox">
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo01.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo02.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo03.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo04.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo05.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo06.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo07.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo08.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo09.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo10.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo11.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo12.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo13.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo14.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo15.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo16.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo17.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo18.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo19.jpg" alt="description" /></a>
                  </div
                </li>
                <li>
                  <div class="draggable">
                    <a href="#"><img src="{{STATIC_URL}}images/img/photo20.jpg" alt="description" /></a>
                  </div
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <div class="Tabs">
              <ul>
                <li class="tab active"><a>Canvas 1</a></li>
                <li class="tab add_canvas"><a>+</a></li>
                <li class="tab delete_canvas"><a>-</a></li>
              </ul>
            </div> 
            <div id="1" class="droppable canvas active"></div>
          </div>
        </div>
      </div>
      <!-- Le javascript ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <script src="{{STATIC_URL}}js/prettify.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-transition.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-alert.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-modal.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-scrollspy.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-tab.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-popover.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-button.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-collapse.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-carousel.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap-typeahead.js"></script>
      <script src="{{STATIC_URL}}js/application.js"></script>

      <!-- Analytics ================================================== -->
      <script>
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      </script>
    </span>
  </body>
</html>